[%- FOR prol IN prologue -%]
[%      prol %]
[% END -%]
[%- FOR pair IN config.pairs -%]
[%      pair.key.upper %]=
[%-     SWITCH pair.key -%]
[%          CASE booleans -%]
[%              pair.value ? "yes" : "no" %]
[%          CASE -%]
[%              pair.value %]
[%      END -%]
[%- END -%]
[%- FOR epi IN epilogue -%]
[%      epi %]
[% END -%]
